md-radio-button {
	display: inline;
}
md-checkbox{
	list-style: none;
	display:inline-block;
}
md-dialog{
	position: absolute;
    min-width: 140px !important;
    top: 13%;
    left: 35%;
    width: 29%;
    height: 35%;
    opacity: 1;
}
md-dialog md-dialog-content {
	padding:0px;
}
md-dialog .md-actions {
    padding-right: 72px !important;
}
md-radio-button{
    margin: 13px !important;
}
.close-btn{
    margin-top:-20px !important; 

}
.radio-btn-div{
     margin-top:17px !important; 
}

